.contact{
    background-color: #7EA656;
}

.contact-container{
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-text{
    max-width: 300px;
    padding: 0 20px;
}

.contact-text p{
    font-size: 20px;
    color: #DCEEF2;
    padding-bottom: 20px;
    border-bottom: 2px solid #3D7302;
}

.contact-socials{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.contact-socials a{
    max-width: 160px;
    padding: 10px 20px;
    margin: 10px;
    font-weight: bold;
    color: #DCEEF2;
    border: 2px solid #2C5305;
    border-radius: 30px;
}
.contact-socials a:hover{
    background-color: #3B7302;
}


.contact-info{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-info h2{
    padding-bottom: 20px;
    color: #DCEEF2;
}

.contact-info span{
    color: #3B7302;
}

.contact-info h4{
    padding-bottom: 10px;
    padding-left: 20px;
    color: #DCEEF2;
}

.contact-info a{
    color: #DCEEF2;
}
.contact-info a:hover{
    color: #3B7302;
}


/* ICONS */

.fa-solid{
    padding-right: 10px;
    font-size: 20px;
}

.fa-regular{
    padding-right: 10px;
    font-size: 20px;
}

.fa-brands{
    padding-right: 10px;
    font-size: 20px;
}


/* RESPONSIVE */

@media(max-width:700px){
    .contact-container{
        flex-direction: column-reverse;
    }

    .contact-text{
        padding-top: 30px;
        border-top: 2px solid #3B7302;
    }

    .contact-info{
        margin-bottom: 20px;
    }
}