header{
    background-color: #3B7302;
    color: #DCEEF2;
}

.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.header-container