header{
    background-color: #3B7302;
    color: #DCEEF2;
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.title h1{
    font-size: 35px;
    color: #DCEEF2;
    text-shadow: 2px 2px #2C5305;
}

.title .title-bar{
    height: 2px;
    width: 100px;
    background-color: #DCEEF2;
    box-shadow: 2px 2px #2C5305;
}


.header-menu{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.header-menu li{
    list-style: none;
    margin: 0 10px;
}

.header-menu a{
    font-size: 16px;
    color: #DCEEF2;
    padding: 15px 20px;
}
.header-menu a:hover{
    background-color: #2c5305;
    border-radius: 15px;
}


/* ICONS */

.fa-solid{
    padding-left: 10px;
}


/* REPONSIVE */

@media(max-width: 700px){
    .header-container{
        flex-direction: column;
        justify-content: center;
    }

    .header-menu{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-menu li{
        margin-bottom: 40px;
    }
}