/* ========================================================= */
/* IMPORTS */
/* ========================================================= */

@import 'header.css';
@import 'main.css';
@import 'projects.css';


/* ========================================================= */
/* FORMATING */
/* ========================================================= */

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}